@tailwind base;
@tailwind components;
@tailwind utilities;

.cm-wikilink {
  color: rgb(167, 139, 250);
  text-decoration: underline;
  text-decoration-color: rgba(167, 139, 250, 0.4);
  text-underline-offset: 2px;
}

